
$navbar-default-bg: #2B242A;

@import "bootstrap-sprockets";
@import "bootstrap";

img{
  max-width: 80%;
  max-height: 800px;
}
.btn-xlarge{
  font-size: 1.7em;
  background-color: #2B242A;
  border: 0px;
}
.btn-xs:visited{
  color: #fff
}

.btn-xlarge:hover{
  background-color: rgb(43,36,42);
}

.post-meta-details{
  border-top: 1px solid rgba(84,53,68, 0.15);
  margin-top: 25px;
}
.post-actions{
   border-top: 1px solid rgba(84,53,68, 0.25);
   padding-top: 5px;
 }

.description{
  margin-top:0px;
}

.post-title{
  font-weight:bold;
  font-size: 1.5em;
}

.post-body{
  border-top: 1px solid rgba(84,53,68, 0.15);
  padding: 15px 0px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input{
  width: auto !important;
}

footer{
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid rgb(84,53,68);
  color: #543544;
}

footer a:hover {
  color: #AF2B5B;
}

footer small{
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}

ul#grid {
  padding: 0;
  list-style: none;
  margin: 20px auto;
  width: 700px;  
  display: flex;
  }

#grid li {
  float: left;
  padding: 0;
  margin: 0 5px 10px 5px;
  
  } 

#grid li a {
  display: inline-block;
  }

#grid li img {
  background-color: #333;
  padding: 2px; margin: 0;
  max-width: 300px;
  max-height: 300px;
  }

#grid li a:hover img {
opacity:0.3; filter:alpha(opacity=30);
  }

.grid_display {
  padding: 20px;
  margin-left: auto; margin-right: auto;  margin-top:50px; margin-bottom:0;
  /*background-color: #ffd7ce;*/
  width: 513px; 

  /*these two properties will be inherited by .grid_display h2 and .grid_display p */
  font-family: 'GraublauWeb', arial, serif; 
  text-align: center;
  }  

div.grid_display h2 {
  padding: 0; margin: 0;
  clear: both;
  font-size: 35px;
  font-weight: normal;
  color: #58595b;
  background: none;
  font-family: 'GraublauWeb', arial, serif;  

  /* reset for cascade effects that are trickling down from other h2's */
  text-transform: none;
  letter-spacing: normal;
  }

.grid_display p {
  margin:0; padding: 0;
  font-size: 15px;
  color: #58595b;
  }

 